body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei', sans-serif;
}

.navbar-custom {
  background: #FFDD4A;
  border-bottom: 1px solid #EAEAEA;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #ff9900;
}

a:hover {
  color: #333333;
}

.theme-by {
  font-size: 8px;
}

nav-link:hover {
  color: #333333;
}
