body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei', sans-serif;
}

a {
  color: #0c8698;
}

a:hover {
  color: #333333;
}

.theme-by {
  font-size: 8px;
}

.nav-link:hover {
  color: #333333;
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    padding-left: 16px;
    padding-right: 16px;
  }
  footer {
    padding: 0 0 1rem 0;
  }
}

footer {
  padding: 0 0 1rem 0;
}