body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei', sans-serif;
}

a {
  color: #0c8698;
}

a:hover {
  color: #333333;
}

.theme-by {
  font-size: 8px;
}

.nav-link:hover {
  color: #333333;
}
